<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>The BEST NodeJS ecommerce... EVER!</title>
	<style>
		.boundedBox {
			margin: 5px;
			border: 1px solid red; 
			padding: 5px;
		}
	</style>
</head>